body {
  margin:0px;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  position:relative;
  left:-70px;
  width:1810px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:1111px;
}
#u14752 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:41px;
  width:498px;
  height:1111px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u14752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:748px;
  background:inherit;
  background-color:rgba(41, 59, 57, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14753 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:239px;
  width:452px;
  height:748px;
  display:flex;
}
#u14753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:318px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14754 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:834px;
  width:499px;
  height:318px;
  display:flex;
}
#u14754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u14755 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:852px;
  width:264px;
  height:35px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
}
#u14755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u14756 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:1002px;
  width:428px;
  height:23px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
}
#u14756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14757 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:1054px;
  width:180px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14758 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:1058px;
  width:180px;
  height:42px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u14758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u14759 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:914px;
  width:426px;
  height:61px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u14759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u14760 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:856px;
  width:35px;
  height:26px;
  display:flex;
  font-size:22px;
}
#u14760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:49px;
  background:inherit;
  background-color:rgba(42, 68, 66, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14762 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:107px;
  width:167px;
  height:49px;
  display:flex;
}
#u14762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14764 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:90px;
  width:1205px;
  height:204px;
}
#u14765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u14765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u14766 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:0px;
  width:83px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u14767 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:74px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u14768 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:106px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:32px;
}
#u14769 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:0px;
  width:143px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:32px;
}
#u14770 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:421px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u14770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:32px;
}
#u14771 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:0px;
  width:319px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:172px;
}
#u14772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:59px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:172px;
}
#u14773 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:32px;
  width:83px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:172px;
}
#u14774 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:32px;
  width:74px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:172px;
}
#u14775 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:32px;
  width:106px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:172px;
}
#u14776 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:32px;
  width:143px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:172px;
}
#u14777 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:32px;
  width:421px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:172px;
}
#u14778 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:32px;
  width:319px;
  height:172px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:32px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14779 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:41px;
  width:1048px;
  height:32px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
