body {
  margin:0px;
  background-color:rgba(170, 170, 170, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:-510px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14973 {
  border-width:0px;
  position:absolute;
  left:-1437px;
  top:201px;
  width:1193px;
  height:676px;
}
#u14974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u14974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:58px;
}
#u14975 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:138px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
}
#u14976 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:0px;
  width:67px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:58px;
}
#u14977 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:55px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:58px;
}
#u14978 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:0px;
  width:142px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:58px;
}
#u14979 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:417px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:58px;
}
#u14980 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:0px;
  width:316px;
  height:58px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u14980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:289px;
}
#u14981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:58px;
  width:58px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:289px;
}
#u14982 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:58px;
  width:138px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
  color:#000000;
}
#u14982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:289px;
}
#u14983 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:58px;
  width:67px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:289px;
}
#u14984 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:58px;
  width:55px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:289px;
}
#u14985 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:58px;
  width:142px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:289px;
}
#u14986 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:58px;
  width:417px;
  height:289px;
  display:flex;
  text-decoration:line-through ;
  text-align:left;
}
#u14986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:289px;
}
#u14987 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:58px;
  width:316px;
  height:289px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:line-through ;
  text-align:left;
}
#u14987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:163px;
}
#u14988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:347px;
  width:58px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:163px;
}
#u14989 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:347px;
  width:138px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:163px;
}
#u14990 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:347px;
  width:67px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:163px;
}
#u14991 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:347px;
  width:55px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:163px;
}
#u14992 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:347px;
  width:142px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:163px;
}
#u14993 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:347px;
  width:417px;
  height:163px;
  display:flex;
  text-decoration:line-through ;
  text-align:left;
}
#u14993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:163px;
}
#u14994 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:347px;
  width:316px;
  height:163px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:line-through ;
  text-align:left;
}
#u14994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:166px;
}
#u14995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:58px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:166px;
}
#u14996 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:510px;
  width:138px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:166px;
}
#u14997 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:510px;
  width:67px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:166px;
}
#u14998 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:510px;
  width:55px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:166px;
}
#u14999 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:510px;
  width:142px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:line-through ;
}
#u14999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:166px;
}
#u15000 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:510px;
  width:417px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:line-through ;
  text-align:left;
}
#u15000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:166px;
}
#u15001 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:510px;
  width:316px;
  height:166px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:line-through ;
  text-align:left;
}
#u15001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:25px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15002 {
  border-width:0px;
  position:absolute;
  left:-1437px;
  top:163px;
  width:1038px;
  height:25px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:856px;
  height:892px;
}
#u15003 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:40px;
  width:856px;
  height:892px;
  display:flex;
}
#u15003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
